/*
@keyframes breathe {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0
  }
}

.breathe {
  animation: breathe  0.5s infinite;
}*/



@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake:hover {
  animation: shake 1s;
}


@keyframes rainbow {
  0%, 100%{
    color: red;
    border-color: red;
  }
  33% {
    color: green;
    border-color: green;
  }
  66% {
    color: blue;
    border-color: blue;
  }
}

.rainbow {
  animation: rainbow 2s infinite;
}
