/* circle button */
.circle {
  position: relative;
  padding: 0;
  border-radius: 50%;
  width: 40px;
  min-width: 40px;
  height: 40px;
}

/* Edit CSS bellow to match the solution using transition, transform and scale */

.circle:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E20D63;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.circle:hover:before {
  transform: scale(1);
}
